.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(4, 150px);
  gap: 0;
  position: relative;
}
.square {
  position: relative;
  width: 150px;
  height: 150px;
  border: 0px solid #ccc;
}
.edge {
  background: #000;
  cursor: pointer;
} /* Black lines for edges */
.edge.occupied {
  background: red;
} /* Highlight occupied edges */
.inventory {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.piece-item {
  padding: 10px;
  border: 10px solid #000;
  cursor: pointer;
}

.header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  width: 100%;
}
